*{
	font-family: 'Montserrat';
}

nav{
	background-color: black;
}

nav a{
	color: white;
}

body a:hover{
	color: lightgray;
}

.navbar-toggler > span{
	display: block;
	width: 1em;
	border-bottom: 1px solid white;
	transition: 0.5s;
}

.dos{
	padding-bottom: 0.5em;
}

.burger .uno{
	transform: translate(0em, 0.3em) rotate(45deg);
}
.burger .dos{
	transform: translate(-0.15em, -0.2em) rotate(-45deg);
}

.nav-item:hover{
	border-bottom: 0.1px solid white;
}

#temperatura, #humedad{
	width: 100%;
	height: auto;
}

#temperaturaActual, #humedadActual{
	padding-bottom: 1em;
}

button{
	width: 60%;
	color: white;
	margin-bottom: 1.5em;
}

.alert{
	float: right;
	width: 60%;
}

#barra{
	overflow: hidden;
}

h4{
	display: block;
}

@media (max-width: 575.98px) {
	button{
		width: 75%;
		margin-bottom: 2em;
	}
}